* {
        box-sizing: border-box;
        background-color: var(--gray);
}

body {
        margin: 0;
}

:root {
        --gray: #141414;
}

/* - - - - - - - - - - -- - - - - - -- - - - - - - - - -- -  - - - - - */
/* Navbar */
    
.Navbar {
        color: white;
        display: flex;
        align-items: center;
        padding: 15px 25px;
        background-color: var(--gray);
        box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.45);
}
      
.Navbar--home, .Navbar--library {
        padding-left: 25px;
}
      
.Navbar--search {
        background-color: #242424;
        border: 0;
        border-radius: 500px;
        /* */
        color: #fff!important;
        font-size: 15px;
        text-overflow: ellipsis;
        height: 48px;
        /* */
        padding: 6px 100px;
        margin-left: 20%; /* Move the search bar to the right as much as possible */
        margin-right: auto; /* Move the search bar to the left as much as possible */
        display: block;
}

/* - - - - - - - - - - -- - - - - - -- - - - - - - - - -- -  - - - - - */
/* Sidebar // Playlist */

.sidebar {
        width: 450px;
        margin-top: -700px;
        padding-top: 10px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 5px;
        color: white;
        position: relative;
}

.sidebar--box {
        width: 450px;
        margin-top: 28px;
        padding-top: 687.5px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 5px;
        color: white;
        box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.5); /* Add this line for the right shadow */
        position: relative;
}
      
.add-playlist-button {
        position: absolute;
        top: 7px; /* Adjust as needed */
        left: 385px; /* Adjust as needed */
        cursor: pointer;
        font-size: 40px;
        color: white;
        border: none;
        padding: 10px;
        border-radius: 50%;
}
      
.context-menu {
        position:fixed;
        color: white;
        width: 10%;
        z-index: 2; /* Make sure the context menu is above other elements */
        border: 1px solid rgba(255, 255, 255, 0.492);
}
      
.context-menu div {
        cursor: pointer;
        padding: 10px;
}
      
.context-menu div:hover {
        background-color: #363636;
}

.playlist-item {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
}
      
.playlist-item img {
        width: 100px;
        height: 100px;
        border-radius: 4px;
        margin-right: 10px;
}
      
.playlist-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-left: 10px;
}
      
.playlist-info span {
        font-weight: bold;
        font-size: 18px;
}
      
.playlist-buttons button {
        background-color: #1db954;
        color: white;
        border: none;
        padding: 5px 10px;
        margin-left: 5px;
        cursor: pointer;
        font-size: 12px;
}
      
.playlist-buttons button:hover {
        background-color: #1ed760;
}
      
.playlist-form {
        padding-bottom: 30px;
}
      
.playlist-form input {
        margin-right: 10px;
        width: 150px;
}
      
.playlist-form label {
        background-color: #1db954;
        color: white;
        padding: 5px 10px;
        cursor: pointer;
        font-size: 12px;
}
      
.playlist-form label:hover {
        background-color: #1ed760;
}
      
.playlist-form button {
        background-color: #1db954;
        color: white;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        font-size: 15px;
}
      
.playlist-form button:hover {
        background-color: #1ed760;
}

.playlist-input {
        color: white;
        border: 1px solid rgba(255, 255, 255, 0.492);
        border-radius: 5px;
        padding: 5px;
}

/* - - - - - - - - - - -- - - - - - -- - - - - - - - - -- -  - - - - - */
/* Footer // song controller */
.Footer {
        box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.5); /* Add this line for the right shadow */
        padding: 40px;
        position:absolute;
        bottom: 0;
        width: 100%;
        height: 50px;
}

      
      