* {
        box-sizing: border-box;
        background-color: var(--gray);
}

body {
        margin: 0;
}

:root {
        --gray: #141414;
}

/* - - - - - - - - - - -- - - - - - -- - - - - - - - - -- -  - - - - - */
/* Navbar */
    
.Navbar {
        color: white;
        display: flex;
        align-items: center;
        padding: 15px 25px;
        background-color: var(--gray);
        box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.45);
}
      
.Navbar--home, .Navbar--library {
        padding-left: 25px;
}
      
.Navbar--search {
        background-color: #242424;
        border: 0;
        border-radius: 500px;
        /* */
        color: #fff!important;
        font-size: 15px;
        text-overflow: ellipsis;
        height: 48px;
        /* */
        padding: 6px 100px;
        margin-left: 21%; /* Move the search bar to the right as much as possible */
        margin-right: auto; /* Move the search bar to the left as much as possible */
        display: block;
}

/* - - - - - - - - - - -- - - - - - -- - - - - - - - - -- -  - - - - - */
/* Sidebar // Playlist */

.sidebar {
        width: 400px;
        padding-left: 30px;
        padding-right: 30px;
        color: white;
        border-right: solid #303233;
}
      
.playlist-item {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
}
      
.playlist-item img {
        width: 100px;
        height: 100px;
        border-radius: 4px;
        margin-right: 10px;
}
      
.playlist-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
}
      
.playlist-info span {
        font-weight: bold;
        font-size: 18px;
}
      
.playlist-buttons button {
        background-color: #1db954;
        color: white;
        border: none;
        padding: 5px 10px;
        margin-left: 5px;
        cursor: pointer;
        font-size: 12px;
}
      
.playlist-buttons button:hover {
        background-color: #1ed760;
}
      
.playlist-form {
        margin-top: 20px;
        padding-left: 30px;
}
      
.playlist-form input {
        margin-right: 10px;
        width: 150px;
}
      
.playlist-form label {
        background-color: #1db954;
        color: white;
        padding: 5px 10px;
        cursor: pointer;
        font-size: 12px;
}
      
.playlist-form label:hover {
        background-color: #1ed760;
}
      
.playlist-form button {
        background-color: #1db954;
        color: white;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        font-size: 12px;
}
      
.playlist-form button:hover {
        background-color: #1ed760;
}

/* - - - - - - - - - - -- - - - - - -- - - - - - - - - -- -  - - - - - */
/* Footer // song controller */
.Footer {
        border-top: 5px solid rgba(0, 0, 0, 0.1);
        padding: 40px;
        position:absolute;
        bottom: 0;
        width: 100%;
        height: 50px;
}

      
      