* {
        box-sizing: border-box;
        background-color: var(--gray);
}

body {
        margin: 0;
}

:root {
        --gray: #141414;
}

/* - - - - - - - - - - -- - - - - - -- - - - - - - - - -- -  - - - - - */
/* Navbar */
    
.Navbar {
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between; /* Distribute items evenly */
        padding: 15px 25px;
        background-color: var(--gray);
        box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.45);
        border-bottom: 1px solid black;
}

.Navbar--left {
        flex-shrink: 0; /* Don't allow the logo to shrink */
}

.Navbar--center {
        flex-grow: 1; /* Occupy remaining space */
        text-align: center; /* Center the contents */
}
      
.Navbar--search {
        background-color: #242424;
        border: 0;
        border-radius: 500px;
        /* */
        color: #fff;
        font-size: 15px;
        text-overflow: ellipsis;
        text-align: center;
        height: 48px;
        align-items: center;
        /* */
        padding: 6px 100px;
        margin: 0 auto; /* Center the search bar horizontally */
        margin-right: 125px;
}

/* - - - - - - - - - - -- - - - - - -- - - - - - - - - -- -  - - - - - */
/* Sidebar // Playlist */

.sidebar {
        width: 450px;
        margin-top: -700px;
        padding-top: 10px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 5px;
        color: white;
        position: relative;
        border-top: 1px solid black;        
        border-right: 1px solid black;
}

.sidebar--box {
        width: 450px;
        margin-top: 22px;
        padding-top: 687.5px;
        padding-bottom: 5px;
        color: white;
        box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.5); /* Add this line for the right shadow */
        position: relative;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
}
      
.add-playlist-button {
        position: absolute;
        top: 7px; /* Adjust as needed */
        left: 385px; /* Adjust as needed */
        cursor: pointer;
        font-size: 40px;
        color: white;
        border: none;
        padding: 10px;
        border-radius: 50%;
}
      
.context-menu {
        position:fixed;
        color: white;
        width: 10%;
        z-index: 2; /* Make sure the context menu is above other elements */
        border: 1px solid rgba(255, 255, 255, 0.492);
}
      
.context-menu div {
        cursor: pointer;
        padding: 10px;
}
      
.context-menu div:hover {
        background-color: #363636;
}

.playlist-item {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
}

.playlist-item-selected {
        background-color: white;
}
      
.playlist-item img {
        width: 100px;
        height: 100px;
        border-radius: 4px;
        margin-right: 10px;
}
      
.playlist-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-left: 10px;
}
      
.playlist-info span {
        font-weight: bold;
        font-size: 18px;
}
      
.playlist-buttons button {
        background-color: #1db954;
        color: white;
        border: none;
        padding: 5px 10px;
        margin-left: 5px;
        cursor: pointer;
        font-size: 12px;
}
      
.playlist-buttons button:hover {
        background-color: #1ed760;
}
      
.playlist-form {
        padding-bottom: 30px;
}
      
.playlist-form input {
        margin-right: 10px;
        width: 150px;
}
      
.playlist-form label {
        background-color: #1db954;
        color: white;
        padding: 5px 10px;
        cursor: pointer;
        font-size: 12px;
}
      
.playlist-form label:hover {
        background-color: #1ed760;
}
      
.playlist-form button {
        background-color: #1db954;
        color: white;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        font-size: 15px;
}
      
.playlist-form button:hover {
        background-color: #1ed760;
}

.playlist-input {
        color: white;
        border: 1px solid #ffffff7d;
        border-radius: 5px;
        padding: 5px;
}

/* - - - - - - - - - - -- - - - - - -- - - - - - - - - -- -  - - - - - */
/* Content // Playlist stuff */
.Content--container {
        box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 15%; /* Adjust as needed */
        left: 25%; /* Adjust as needed */
        width: 75%;
        height: 74.4%;
        border-top: 1px solid black;
        border-left: 1px solid black;
        border-bottom: 1px solid black;
}

.Content--header {
        color: white;
}

.CH--title {
        position: absolute;
        font-size: 30px;
        top: 20%;
        left: 35%;
}

.CH--pic {
        position: absolute;
        top: 18%;
        left: 26%;
        width: 8%;
}

.CH--bio {
        color: rgb(145, 145, 145);
        display: flex;
        position: absolute;
        top: 35%;
        left: 26%;
}

.CH--details {
        display: flex;
        position: absolute;
        top: 27.5%;
        left: 35%;
        justify-content: space-between;
        width: 9%;
}

.Bio--Track {
        margin-left: 100px;
}

.Bio--Album {
        margin-left: 350px;
}

.Bio--Time {
        margin-left: 350px;
}

.Bio--Clock {
        margin-left: 250px;
        margin-top: 10px;
        width: 50px;
        height: 40px;
}
/* - - - - - - - - - - -- - - - - - -- - - - - - - - - -- -  - - - - - */
/* Footer // song controller */
.Footer {
        box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.5); /* Add this line for the right shadow */
        padding: 40px;
        position:absolute;
        bottom: 0;
        width: 100%;
        height: 50px;
        border-top: 1px solid black;
}

      
      